body {
  background: #ddd;
}
.initials {
}
.initials__container {
  width: 100px;
  height: 100px;
  font-size: 76px;
  border-radius: 50%;
  background: #ffac3f;
  position: relative;
  overflow: hidden;
}

.initials__initials {
  color: #fff;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}